body {
  margin: 0;
  padding: 0;
  font-family: 'Spectral', serif;
  background-color: #324E5C
}

.button {
  margin: 10px;
  background-color: tomato;
  line-height: 3em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: .3em;
  font-size: 1.2em;
  width:100%;
}

.button:active {
  transform: scale(0.9);
}

.step-counter {
  margin: 25px;
  font-size: 1.2em;
}

.app-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.controller-main-container {
  display: flex;
  flex-direction: column;
  
}

.tiles-main-container {
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 10% 1fr 1fr 10%;
  background-color: #DBDEB5;
  border-radius: 5px;
}

.green-tile {
  background-color: #45B09C;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.red-tile {
  background-color: #F73955;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.yellow-tile {
  background-color: #EEC84C;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.blue-tile {
  background-color: #2A96BD;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.animation {
  background-color: gold;
  transition: all 250ms linear;
}

.wrong-tile-animation {
  background-color: red;
  transition: all 250ms linear;
}

@media (max-width: 768px) {
  .app-main-container { 
    width: 100%;
    margin-top: 3vh;
  }

  .controller-main-container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .button {
    font-size: 1em;
    padding: 0.1em;
    width: 40%;
  }
}

@media (max-width: 425px) {
  .controller-main-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tiles-main-container {
    width: calc(90vh - 20px);
    height: calc(90vh - 280px);
  }

  .button {
    font-size: 1em;
    padding: 0.2em;
    width: 100%;
  }
}